<%= form_for @crossword, :remote => true do |f| %>
  <div class="file-input">
    <%= f.file_field :crossword_file %>

    <%= text_field_tag :file, 'Choose a file', :readonly => true %>
    <%= link_to 'Browse...', '#', :class => 'button',
          :'data-skip-pjax' => true %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'button', :disable_with => 'Uploading...' %>
  </div>

  <div class='help'>
    <%= link_to 'What do I upload?', '#', :'data-skip-pjax' => true %>

    <div class='info'>
      <p>You need to upload a '.puz' file</p>

      <p>These can be downloaded from various crossword applications</p>

      <p>The New York Times refers to these as 'Across Lite' files</p>
    </div>
  </div>
<% end %>
