<table id='crosswords'>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Copyright</th>
    <th>&nbsp;</th>
  </tr>

  <% @crosswords.each do |crossword| %>
    <tr>
      <td>
        <%= link_to truncate(crossword.title, :length => 50), crossword %>
      </td>
      <td><%= crossword.author %></td>
      <td><%= crossword.copyright %></td>
      <td>
        <%= link_to 'Destroy', crossword, confirm: 'Are you sure?',
              method: :delete, remote: true %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @crosswords %>

<div class='crosswords-links'>
  <%= link_to 'Add Crossword', new_crossword_path, :class => 'button' %>

  <% if current_user.nil? %>
    or <%= link_to 'log in with Facebook', '/auth/facebook' %>
  <% end %>
</div>
