<% provide :javascripts do %>
  <%= javascript_include_tag 'crosswords' %>
<% end %>

<dl>
  <dt>Title</dt>
  <dd><%= @crossword.title %></dd>
  <dt>Author</dt>
  <dd><%= @crossword.author %></dd>
  <dt>Copyright</dt>
  <dd><%= @crossword.copyright %></dd>
  <dt>Width</dt>
  <dd><%= @crossword.width %></dd>
  <dt>Height</dt>
  <dd><%= @crossword.height %></dd>
  <dt>Solution</dt>
  <dd><%= @crossword.solution %></dd>
</dl>

<ul>
  <% @crossword.clues.each do |c| %>
    <li><%= c %></li>
  <% end %>
</ul>

<%= link_to 'Edit', [:edit, @crossword] %> |
<%= link_to 'Back', crosswords_path %>

<div id='crossword' data-id='<%= @crossword.id %>'></div>
