<% provide :javascripts do %>
  <%= javascript_include_tag 'crosswords' %>
<% end %>

<dl class='info'>
  <dt>Title</dt>
  <dd><%= @crossword.title %></dd>
  <dt>Author</dt>
  <dd><%= @crossword.author %></dd>
  <dt>Copyright</dt>
  <dd><%= @crossword.copyright %></dd>
</dl>

<div id='across' class='clues'>
  <h2>Across</h2>
  <ol>
    <% @crossword.clues.across.each do |c| %>
      <li value="<%= c.number %>"><%= c.text %></li>
    <% end %>
  </ol>
</div>

<div id='down' class='clues'>
  <h2>Down</h2>
  <ol>
    <% @crossword.clues.down.each do |c| %>
      <li value="<%= c.number %>"><%= c.text %></li>
    <% end %>
  </ol>
</div>

<%= content_tag :div, :id => 'crossword',
      :data => {:crossword => @crossword, :id => @crossword.id.to_s} do %>
  <span>Crossword loading...</span>
<% end %>

<div class='functions'>
  <%= link_to 'Reveal letter', '#', :class => 'letter' %>
</div>
