<% provide :javascripts do %>
  <%= javascript_include_tag 'crosswords' %>
<% end %>

<div id='clues'>
  <div id='across' class='clues'>
    <h2>Across</h2>
    <ol>
      <% @crossword.clues.across.each do |c| %>
        <li value="<%= c.number %>"><%= c.text %></li>
      <% end %>
    </ol>
  </div>

  <div id='down' class='clues'>
    <h2>Down</h2>
    <ol>
      <% @crossword.clues.down.each do |c| %>
        <li value="<%= c.number %>"><%= c.text %></li>
      <% end %>
    </ol>
  </div>
</div>

<dl class='info'>
  <dt>Title</dt>
  <dd><%= @crossword.title %></dd>
  <dt>Author</dt>
  <dd><%= @crossword.author %></dd>
  <dt>Copyright</dt>
  <dd><%= @crossword.copyright %></dd>
</dl>

<%= content_tag :div, :id => 'crossword',
      :data => {:crossword => @crossword, :id => @crossword.slug} do %>
  <span>Crossword loading...</span>
<% end %>

<div class='functions'>
  <%= link_to 'Reveal letter', '#', :class => 'reveal-letter' %> |
  <%= link_to 'Check puzzle', '#', :class => 'check-puzzle' %> |
  <%= link_to 'Clear puzzle', '#', :class => 'clear-puzzle' %>
</div>
