<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta property="og:title" content="<%= page_title %>" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="http://<%= request.host_with_port %>" />
    <meta property="og:image" content="<%= image_path 'toucan.png' %>" />
    <meta property="og:site_name" content="TwoCan" />
    <meta property="fb:admins" content="745375464" />
    <meta property="og:description"
          content="Do crosswords with friends in real time on the web!"/>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <script type='text/javascript'>
      window.pusher_key = '<%= Pusher.key %>';
    </script>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </head>
  <body>

    <header>
      <h1>
        TwoCan
        <fb:like send="false" layout="button_count" width="100"
                 show_faces="false"
                 href="http://<%= request.host_with_port %>">
        </fb:like>
      </h1>

      <%= image_tag 'toucan.png' %>

      <nav>
        <%= link_to 'Your Crosswords', crosswords_path %>
        <%= link_to 'New Crossword', new_crossword_path %>
      </nav>

      <div class='user-info'>
        <% if current_user %>
          Logged in with: <%= current_user.email %>
        <% else %>
          Log in with:
          <%= link_to image_tag('facebook.png'), '/auth/facebook' %>
        <% end %>
      </div>
    </header>

    <%= yield :flash %>

    <div id='main' data-pjax-container>
      <%= yield %>
    </div>

    <div id="fb-root"></div>
    <script src="<%= request.protocol %>connect.facebook.net/en_US/all.js#appId=217774374920081&amp;xfbml=1"></script>

  </body>
</html>
